@media(max-width:800px){

    .auth-image{

        display:none;

    }


    .auth-content{

        width:100%;

    }

}



/* =========================
   DASHBOARD
========================= */


.dashboard-container{
    display:flex;
    min-height:100vh;
}


.sidebar{
    width:240px;
    background:#1f2937;
    color:white;
    padding:20px;
}


.sidebar h2{
    margin-bottom:30px;
}


.sidebar nav{
    display:flex;
    flex-direction:column;
    gap:15px;
}


.sidebar a{
    color:white;
    text-decoration:none;
}


.dashboard-content{
    flex:1;
}


.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    border-bottom:1px solid #ddd;
    background:white;
}


.main-content{
    padding:30px;
}



/* =========================
   PASSWORD EYE
========================= */


.eye-btn {

    width:38px !important;

    height:38px !important;

    min-width:38px !important;

    padding:0 !important;

    margin:0 !important;

    border-radius:50% !important;

    background:#7c3aed !important;


    display:flex !important;

    align-items:center;

    justify-content:center;


    flex-shrink:0;

}



.eye-btn svg{

    width:20px;

    height:20px;

}