*{
    box-sizing:border-box;
}


body{

    margin:0;
    font-family:
    "Segoe UI",
    sans-serif;

}



.auth-container{

    min-height:100vh;

    display:flex;

}



.auth-image{

    width:50%;

    background:

    linear-gradient(
        rgba(0,0,0,.45),
        rgba(0,0,0,.45)
    ),

    url("https://images.unsplash.com/photo-1441986300917-64674bd600d8")
    center/cover;


    display:flex;

    align-items:center;

    justify-content:center;

    color:white;

}



.overlay{

    max-width:400px;

}


.overlay h1{

    font-size:45px;

}



.auth-content{

    width:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#fafafa;

}



.login-card{

    width:380px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:
    0 20px 40px rgba(0,0,0,.08);

}



.login-card h2{

    font-size:32px;

    margin-bottom:10px;

}



.subtitle{

    color:#777;

}



.input-group{

    display:flex;

    align-items:center;

    gap:10px;

    border:1px solid #ddd;

    padding:12px;

    border-radius:12px;

    margin:15px 0;

}


.input-group input{

    border:none;

    outline:none;

    width:100%;

}



.options{

    display:flex;

    justify-content:space-between;

    font-size:14px;

}



.options a,
.register a{

    color:#7c3aed;

}



button{

    width:100%;

    margin-top:25px;

    padding:14px;

    border:none;

    border-radius:12px;

    background:#7c3aed;

    color:white;

    font-size:16px;

    cursor:pointer;

}



button:hover{

    opacity:.9;

}



.register{

    text-align:center;

    margin-top:20px;

}



@media(max-width:800px){

    .auth-image{

        display:none;

    }


    .auth-content{

        width:100%;

    }

}